<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>그룹 생성</title>
</head>
<body>

<nav>
    <span>project1</span>
    <div>
        <a th:href="@{/mypage}">마이페이지</a>
        <a th:href="@{/group/new}">그룹 생성</a>
        <a th:href="@{/group/list}">그룹 목록</a>
        <a th:href="@{/group/in}">그룹 참여</a>
        <a th:href="@{/restaurant/list}">음식점 검색</a>

    </div>
    <div>
        <span th:text="${loginMember.name} + '님'"></span>
        <a th:href="@{/logout}">로그아웃</a>
    </div>
</nav>

<form th:action="@{/group/new}" method="post">
    <div>
        <label for="name">그룹 이름</label>
        <input type="text" id="name" name="name" placeholder="그룹 이름을 입력하세요" required />
    </div>
    <div>
        <label for="description">그룹 설명</label>
        <textarea id="description" name="description" placeholder="그룹 설명을 입력하세요"></textarea>
    </div>
    <button type="submit">그룹 생성</button>
</form>

</body>
</html>